In [2]:
import pandas as pd

In [9]:
df_real = pd.read_csv('adjusted_주변_연립다세대(전월세)_실거래가_ALL.csv', encoding='CP949')

df_real = df_real.rename(columns={'시군구': '법정동명', '번지':'지번', '층':'계약층'})

col_list = ['법정동명', '지번', '전월세구분', '전용면적(㎡)', '계약년월', '보증금(만원)', '월세(만원)', '계약층', '건축년도', '도로명']
df_real = df_real.loc[:, col_list]


print('adjusted_주변_연립다세대(전월세)_실거래가_ALL')
print('')
print(df_real.columns)

adjusted_주변_연립다세대(전월세)_실거래가_ALL

Index(['법정동명', '지번', '전월세구분', '전용면적(㎡)', '계약년월', '보증금(만원)', '월세(만원)', '계약층',
       '건축년도', '도로명'],
      dtype='object')

In [10]:
df_real.head()

,법정동명,지번,전월세구분,전용면적(㎡),계약년월,보증금(만원),월세(만원),계약층,건축년도,도로명
0,서울특별시 종로구 동숭동,129-24,전세,38.54,201712,"14,000",0,4,1997,동숭4나길 28
1,서울특별시 종로구 동숭동,129-74,전세,34.56,201803,"20,000",0,1,1994,낙산1길 22-1
2,서울특별시 종로구 동숭동,130-7,월세,15.51,201806,"1,000",45,1,2014,동숭2길 13-3
3,서울특별시 종로구 동숭동,14-2,월세,25.60,201808,"9,000",10,4,1998,동숭4나길 5
4,서울특별시 종로구 동숭동,192-2,전세,52.85,201803,"27,000",0,3,1996,이화장길 86-20

In [12]:
# 대상 csv
df_target = pd.read_csv('df_target_v3.csv', encoding='CP949')

print('대상 csv')
print('')
print(df_target.columns)

대상 csv

Index(['법정동명', '지번', '세부용도명', '지하층수', '지상층수', '사용승인일자', '건물연령', '주택구분명',
       '건물산정연면적', '주택가격', '6평_가격', '전용면적', '공시가격'],
      dtype='object')

In [7]:
# df_target.head()

,법정동명,지번,주택구분명,건물산정연면적,주택가격,6평_가격,전용면적,공시가격
0,서울특별시 성북구 동선동1가,119-4,단독다가구,42.95,302000000.0,140628638.0,NaN,NaN
1,서울특별시 성북구 동선동1가,119-5,단독다가구,52.89,379000000.0,143316317.0,NaN,NaN
2,서울특별시 성북구 동선동1가,119-9,단독다가구,105.39,169000000.0,32071354.0,NaN,NaN
3,서울특별시 성북구 동선동1가,121-21,단독다가구,323.41,530000000.0,32775734.0,NaN,NaN
4,서울특별시 성북구 동선동1가,122-4,단독다가구,211.36,448000000.0,42392127.0,NaN,NaN

In [13]:
df_merged = df_real.merge(df_target, how='left', on=['법정동명', '지번'], suffixes=('','_가격정보'))

In [14]:
df_merged.head()

,법정동명,지번,전월세구분,전용면적(㎡),계약년월,보증금(만원),월세(만원),계약층,건축년도,도로명,...,지하층수,지상층수,사용승인일자,건물연령,주택구분명,건물산정연면적,주택가격,6평_가격,전용면적,공시가격
0,서울특별시 종로구 동숭동,129-24,전세,38.54,201712,"14,000",0,4,1997,동숭4나길 28,...,1.0,4.0,1997-07-09,24.0,다세대,NaN,NaN,51782638.0,37.725,97675000.0
1,서울특별시 종로구 동숭동,129-74,전세,34.56,201803,"20,000",0,1,1994,낙산1길 22-1,...,1.0,3.0,1994-09-14,27.0,다세대,NaN,NaN,46701389.0,34.560,80700000.0
2,서울특별시 종로구 동숭동,130-7,월세,15.51,201806,"1,000",45,1,2014,동숭2길 13-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울특별시 종로구 동숭동,14-2,월세,25.60,201808,"9,000",10,4,1998,동숭4나길 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울특별시 종로구 동숭동,192-2,전세,52.85,201803,"27,000",0,3,1996,이화장길 86-20,...,1.0,4.0,1996-04-24,25.0,빌라,NaN,NaN,55294731.0,38.340,106000000.0

In [16]:
df_merged.to_csv("df_train.csv", index=False, encoding='cp949')