In [1]:
import pandas as pd
import numpy as np

# Data_Load

가격정보

In [96]:
# 개별주택가격정보
df_individual = pd.read_csv("regions/개별주택가격정보.csv", encoding="CP949")

# 공공주택가격정보
dict_dtypes = {"고유번호":int, "법정동코드":int, "법정동명":str, "특수지구분코드":int, "지번":str, "기준년도":int, "기준월":int, "공동주택코드":int, "공동주택구분명":str, "특수지명":str, "공동주택명":str, "전용면적":float, "공시가격":int, "데이터기준일자":object}
df_public = pd.read_csv("regions/공동주택가격정보.csv", dtype=dict_dtypes ,encoding="CP949")

print("개별주택가격정보")
print(df_individual.columns)
print('')
print("공동주택가격정보")
print(df_public.columns)

개별주택가격정보
Index(['고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번', '건축물대장고유번호', '기준년도',
       '기준월', '동코드', '동명', '토지대장면적', '산정대지면적', '건물전체연면적', '건물산정연면적', '주택가격',
       '표준지여부', '데이터기준일자'],
      dtype='object')

공동주택가격정보
Index(['고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번', '기준년도', '기준월',
       '공동주택코드', '공동주택구분코드', '공동주택구분명', '특수지명', '공동주택명', '전용면적', '공시가격',
       '데이터기준일자'],
      dtype='object')

In [97]:
df_individual.head()

,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,건축물대장고유번호,기준년도,기준월,동코드,동명,토지대장면적,산정대지면적,건물전체연면적,건물산정연면적,주택가격,표준지여부,데이터기준일자
0,1111010100100030047,1111010100,서울특별시 종로구 청운동,1,일반,3-47,1111010100100030047,2005,1,10,10,112.4,112.4,33.50,33.50,70600000,N,2020-10-27
1,1111010100100030047,1111010100,서울특별시 종로구 청운동,1,일반,3-47,1111010100100030047,2006,1,10,10,112.4,112.4,33.50,33.50,83900000,N,2020-10-27
2,1111010100100030047,1111010100,서울특별시 종로구 청운동,1,일반,3-47,1111010100100030047,2007,1,10,10,112.4,112.4,33.50,33.50,97400000,N,2020-10-27
3,1111010100100030057,1111010100,서울특별시 종로구 청운동,1,일반,3-57,1111010100100030057,2005,1,10,10,158.7,158.7,68.36,68.36,101000000,N,2020-10-27
4,1111010100100030057,1111010100,서울특별시 종로구 청운동,1,일반,3-57,1111010100100030057,2006,1,10,10,158.7,158.7,68.36,68.36,129000000,N,2020-10-27

용도별건물정보

In [98]:
# 성북구
df_sung = pd.read_csv("publicdata/용도별건물정보_성북구.csv", encoding="CP949")

# 종로구
df_jong = pd.read_csv("publicdata/용도별건물정보_종로구.csv", encoding="CP949")

print("성북구")
print(df_sung.columns)
print('')
print("종로구")
print(df_jong.columns)

성북구
Index(['GIS건물통합식별번호', '고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번',
       '건물식별번호', '집합건물구분코드', '집합건물구분', '대장종류코드', '대장종류', '건물명', '건물동명',
       '건물주부구분코드', '건물주부구분명', '건물대지면적', '건물건축면적', '건물연면적', '용적율', '건폐율',
       '건축물구조코드', '건축물구조명', '주요용도코드', '주요용도명', '세부용도코드', '세부용도명', '건물용도분류코드',
       '건물용도분류명', '건물높이', '지상층수', '지하층수', '허가일자', '사용승인일자', '데이터기준일자'],
      dtype='object')

종로구
Index(['GIS건물통합식별번호', '고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번',
       '건물식별번호', '집합건물구분코드', '집합건물구분', '대장종류코드', '대장종류', '건물명', '건물동명',
       '건물주부구분코드', '건물주부구분명', '건물대지면적', '건물건축면적', '건물연면적', '용적율', '건폐율',
       '건축물구조코드', '건축물구조명', '주요용도코드', '주요용도명', '세부용도코드', '세부용도명', '건물용도분류코드',
       '건물용도분류명', '건물높이', '지상층수', '지하층수', '허가일자', '사용승인일자', '데이터기준일자'],
      dtype='object')

In [99]:
df_jong.head()

,GIS건물통합식별번호,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,건물식별번호,집합건물구분코드,집합건물구분,...,세부용도코드,세부용도명,건물용도분류코드,건물용도분류명,건물높이,지상층수,지하층수,허가일자,사용승인일자,데이터기준일자
0,1.988200e+27,1.111010e+18,1111010100,서울특별시 종로구 청운동,1,일반,1,2389,2,집합건축물,...,2001,아파트,1.0,주거용,0.0,3.0,2.0,1987-04-04,1988-11-11,2020-07-14
1,1.988200e+27,1.111010e+18,1111010100,서울특별시 종로구 청운동,1,일반,1,2388,2,집합건축물,...,2001,아파트,1.0,주거용,0.0,3.0,2.0,1987-04-04,1988-11-11,2020-07-14
2,1.988200e+27,1.111010e+18,1111010100,서울특별시 종로구 청운동,1,일반,1,2387,2,집합건축물,...,2001,아파트,1.0,주거용,0.0,3.0,2.0,1987-04-04,1988-11-11,2020-07-14
3,1.988200e+27,1.111010e+18,1111010100,서울특별시 종로구 청운동,1,일반,1,2386,2,집합건축물,...,2001,아파트,1.0,주거용,0.0,3.0,2.0,1987-04-04,1988-11-11,2020-07-14
4,1.988200e+27,1.111010e+18,1111010100,서울특별시 종로구 청운동,1,일반,1,2385,2,집합건축물,...,2001,아파트,1.0,주거용,0.0,3.0,2.0,1987-04-04,1988-11-11,2020-07-14

In [100]:
total = df_jong.isnull().sum().sort_values(ascending=False)
percent = (df_jong.isnull().sum()/df_jong.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

          Total   Percent
건물동명      18789  0.918643
건물명       18135  0.886667
허가일자      12233  0.598103
사용승인일자     5508  0.269300
건물용도분류명      20  0.000978
건물용도분류코드     20  0.000978
세부용도명        15  0.000733
건물주부구분코드      3  0.000147
지하층수          3  0.000147
건물주부구분명       3  0.000147
용적율           2  0.000098
건폐율           2  0.000098
건물대지면적        2  0.000098
건물높이          1  0.000049
지상층수          1  0.000049
건물건축면적        1  0.000049
건물식별번호        0  0.000000
특수지구분코드       0  0.000000
지번            0  0.000000
특수지구분명        0  0.000000

In [101]:
total = df_sung.isnull().sum().sort_values(ascending=False)
percent = (df_sung.isnull().sum()/df_sung.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

          Total   Percent
건물동명      28223  0.936086
건물명       26752  0.887297
허가일자      14349  0.475920
사용승인일자     1670  0.055390
건물용도분류명      21  0.000697
건물용도분류코드     21  0.000697
세부용도명        20  0.000663
건폐율           8  0.000265
지하층수          7  0.000232
용적율           6  0.000199
건물건축면적        4  0.000133
건물높이          4  0.000133
건물대지면적        4  0.000133
지상층수          1  0.000033
집합건물구분코드      0  0.000000
건물식별번호        0  0.000000
특수지구분코드       0  0.000000
지번            0  0.000000
특수지구분명        0  0.000000
대장종류코드        0  0.000000

건축물연령정보(현 사용하지 않음)

In [51]:
# # 성북구
# df_sung_age = pd.read_csv("publicdata/건축물연령정보_성북구.csv", encoding="CP949")

# # 종로구
# df_jong_age = pd.read_csv("publicdata/건축물연령정보_종로구.csv", encoding="CP949")

# print("성북구")
# print(df_sung_age.columns)
# print('')
# print("종로구")
# print(df_jong_age.columns)

성북구
Index(['GIS건물통합식별번호', '고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번',
       '건물식별번호', '집합건물구분코드', '집합건물구분', '대장종류코드', '대장종류', '건물명', '건물동명',
       '건물연면적', '건축물구조코드', '건축물구조명', '주요용도코드', '주요용도명', '건물높이', '지상층수', '지하층수',
       '허가일자', '사용승인일자', '건물연령', '연령대구분코드', '연령대구분명', '연령대5계급코드', '연령대5계급명',
       '데이터기준일자'],
      dtype='object')

종로구
Index(['GIS건물통합식별번호', '고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번',
       '건물식별번호', '집합건물구분코드', '집합건물구분', '대장종류코드', '대장종류', '건물명', '건물동명',
       '건물연면적', '건축물구조코드', '건축물구조명', '주요용도코드', '주요용도명', '건물높이', '지상층수', '지하층수',
       '허가일자', '사용승인일자', '건물연령', '연령대구분코드', '연령대구분명', '연령대5계급코드', '연령대5계급명',
       '데이터기준일자'],
      dtype='object')

In [52]:
# total = df_jong_age.isnull().sum().sort_values(ascending=False)
# percent = (df_jong_age.isnull().sum()/df_jong_age.isnull().count()).sort_values(ascending=False)
# missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
# missing_data.head(20)

          Total   Percent
건물동명      18813  0.917707
건물명       18222  0.888878
허가일자      12286  0.599317
건물연령       5532  0.269854
사용승인일자     5532  0.269854
지하층수          4  0.000195
지상층수          1  0.000049
건물높이          1  0.000049
특수지구분명        0  0.000000
집합건물구분코드      0  0.000000
건물식별번호        0  0.000000
지번            0  0.000000
데이터기준일자       0  0.000000
특수지구분코드       0  0.000000
대장종류코드        0  0.000000
법정동명          0  0.000000
법정동코드         0  0.000000
고유번호          0  0.000000
집합건물구분        0  0.000000
건물연면적         0  0.000000

In [53]:
# total = df_sung_age.isnull().sum().sort_values(ascending=False)
# percent = (df_sung_age.isnull().sum()/df_sung_age.isnull().count()).sort_values(ascending=False)
# missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
# missing_data.head(20)

          Total   Percent
건물동명      29017  0.937878
건물명       27534  0.889945
허가일자      14920  0.482239
건물연령       1713  0.055367
사용승인일자     1713  0.055367
지하층수          8  0.000259
건물높이          4  0.000129
지상층수          1  0.000032
특수지구분명        0  0.000000
집합건물구분코드      0  0.000000
건물식별번호        0  0.000000
지번            0  0.000000
데이터기준일자       0  0.000000
특수지구분코드       0  0.000000
대장종류코드        0  0.000000
법정동명          0  0.000000
법정동코드         0  0.000000
고유번호          0  0.000000
집합건물구분        0  0.000000
건물연면적         0  0.000000

# Data_Extract

가격정보

In [102]:
# 법정동 리스트 만들기
jong_regions_list = ['혜화동', '명륜1가', '명륜2가', '명륜3가', '명륜4가', '동숭동', '이화동']
sung_regions_list = ['성북동1가', '삼선동1가', '동소문동1가', '동소문동2가', '동소문동3가', '동소문동4가', '동소문동5가', '동소문동6가', '동선동1가', '동선동2가', '동선동3가', '동선동4가']

for i in range(len(jong_regions_list)):
    jong_regions_list[i] = '서울특별시 종로구 ' + jong_regions_list[i]

for i in range(len(sung_regions_list)):
    sung_regions_list[i] = '서울특별시 성북구 ' + sung_regions_list[i]
    
regions_list =  jong_regions_list + sung_regions_list

# 개별주택가격정보
# 지역, 2020년도 기준으로 데이터 추출
df_individual = df_individual[ df_individual['법정동명'].isin(regions_list) ]
df_individual = df_individual[ df_individual['기준년도'] == 2020 ]

# # 필요한 칼럼만 추출
individual_cols = ['법정동명', '지번', '건물산정연면적', '주택가격']
df_individual = df_individual.loc[:, individual_cols]
for i in range(len(df_individual)):
    df_individual['주택구분명'] = '단독다가구'

# 공동주택가격정보
# 지역, 2020년도 기준으로 데이터 추출
df_public = df_public[ df_public['법정동명'].isin(regions_list) ]
df_public = df_public[ df_public['기준년도'] == 2020 ]
df_public = df_public[ df_public['전용면적'] <= 40 ]

# # 필요한 칼럼만 추출
public_cols = ['법정동명', '지번', '공동주택구분명', '전용면적', '공시가격']
df_public = df_public.loc[:, public_cols]
df_public = df_public.rename(columns={'공동주택구분명': '주택구분명'})

In [103]:
df_individual.head()

                법정동명    지번  건물산정연면적       주택가격  주택구분명
73994  서울특별시 종로구 이화동   2-3    42.44  348000000  단독다가구
74010  서울특별시 종로구 이화동   3-3    93.66  416000000  단독다가구
74027  서울특별시 종로구 이화동   4-1   257.92  939000000  단독다가구
74043  서울특별시 종로구 이화동   4-6   181.52  324000000  단독다가구
74074  서울특별시 종로구 이화동  4-12    86.78  201000000  단독다가구

In [104]:
# df_individual.to_csv('df_individual_tmp.csv', encoding='CP949')
# df_public.to_csv('df_public_tmp.csv', encoding='CP949')

용도별건물정보

In [105]:
# 법정동 리스트 만들기
jong_regions_list = ['혜화동', '명륜1가', '명륜2가', '명륜3가', '명륜4가', '동숭동', '이화동']
sung_regions_list = ['성북동1가', '삼선동1가', '동소문동1가', '동소문동2가', '동소문동3가', '동소문동4가', '동소문동5가', '동소문동6가', '동선동1가', '동선동2가', '동선동3가', '동선동4가']

for i in range(len(jong_regions_list)):
    jong_regions_list[i] = '서울특별시 종로구 ' + jong_regions_list[i]

for i in range(len(sung_regions_list)):
    sung_regions_list[i] = '서울특별시 성북구 ' + sung_regions_list[i]
    
regions_list =  jong_regions_list + sung_regions_list

# 지역 기준으로 데이터 추출
df_sung = df_sung[ df_sung['법정동명'].isin(regions_list) ]
df_jong = df_jong[ df_jong['법정동명'].isin(regions_list) ]

# 필요한 칼럼만 추출
info_cols = ['법정동명', '지번', '세부용도명', '지하층수', '지상층수', '사용승인일자']

df_sung = df_sung.loc[:, info_cols]
df_jong = df_jong.loc[:, info_cols]

df_sung.reset_index(drop=True, inplace=True)
df_jong.reset_index(drop=True, inplace=True)

# Manage Redundant 법정동, 지번s

In [106]:
# 중복값 확인
# for i in range(len(df_individual)):
#     if df_individual.duplicated(['법정동명', '지번'], keep=False)[i] == True:
#         print(df_individual.loc[i])

In [107]:
# 개별주택가격정보
df_individual = df_individual.groupby(['법정동명', '지번', '주택구분명']).max().reset_index()

# 공동주택가격정보
df_public = df_public.groupby(['법정동명', '지번', '주택구분명']).mean().reset_index()

In [108]:
# 성북구 용도별건물정보
df_sung = df_sung.drop_duplicates(['법정동명', '지번'], keep='last')
df_sung.reset_index(drop=True, inplace=True)

# 종로구 용도별건물정보
df_jong = df_jong.drop_duplicates(['법정동명', '지번'], keep='last')
df_jong.reset_index(drop=True, inplace=True)

In [109]:
print(len(df_individual))
print(len(df_public))
print(len(df_sung))
print(len(df_jong))

4056
369
2928
2785

# 건물 층수, 나이 칼럼 추가

In [110]:
df_sung.loc[1, '사용승인일자'].split('-')

['1960', '12', '01']

In [111]:
this_year = 2020

for i, T in enumerate(df_sung['사용승인일자'].isna()):
    if T:
        pass
    else:
        df_sung.loc[i, '건물연령'] = 1 + this_year - int(df_sung.loc[i, '사용승인일자'].split('-')[0])
    
for i, T in enumerate(df_jong['사용승인일자'].isna()):
    if T:
        pass
    else:
        df_jong.loc[i, '건물연령'] = 1 + this_year - int(df_jong.loc[i, '사용승인일자'].split('-')[0])

In [112]:
df_sung.head()

              법정동명  지번      세부용도명  지하층수  지상층수      사용승인일자  건물연령
0  서울특별시 성북구 성북동1가   4       단독주택   1.0   2.0         NaN   NaN
1  서울특별시 성북구 성북동1가   5         병원   0.0   5.0  1960-12-01  61.0
2  서울특별시 성북구 성북동1가   8  제2종근린생활시설   1.0   5.0  1992-01-24  29.0
3  서울특별시 성북구 성북동1가   9      일반음식점   0.0   2.0         NaN   NaN
4  서울특별시 성북구 성북동1가  10       단독주택   1.0   2.0  1993-07-09  28.0

In [113]:
total = df_sung.isnull().sum().sort_values(ascending=False)
percent = (df_sung.isnull().sum()/df_sung.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

        Total   Percent
건물연령      499  0.170423
사용승인일자    499  0.170423
세부용도명       3  0.001025
지상층수        0  0.000000
지하층수        0  0.000000
지번          0  0.000000
법정동명        0  0.000000

In [114]:
total = df_jong.isnull().sum().sort_values(ascending=False)
percent = (df_jong.isnull().sum()/df_jong.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

        Total   Percent
건물연령      483  0.173429
사용승인일자    483  0.173429
지상층수        1  0.000359
지하층수        1  0.000359
세부용도명       0  0.000000
지번          0  0.000000
법정동명        0  0.000000

# Add 6평 가격 Column

In [115]:
# 6평 가격 추가
def Make_STD_Peong_col(df, ind):
    peong = 20 # 원래 19.83 
    for i in range(len(df)):
        if ind:
            df.loc[i, "6평_가격"] = round( df.loc[i, "주택가격"] / df.loc[i, "건물산정연면적"] * peong )
        else:
            df.loc[i, "6평_가격"] = round( df.loc[i, "공시가격"] / df.loc[i, "전용면적"] * peong )

Make_STD_Peong_col(df_individual, True)
Make_STD_Peong_col(df_public, False)

In [116]:
total = df_individual.isnull().sum().sort_values(ascending=False)
percent = (df_individual.isnull().sum()/df_individual.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

         Total  Percent
6평_가격        0      0.0
주택가격         0      0.0
건물산정연면적      0      0.0
주택구분명        0      0.0
지번           0      0.0
법정동명         0      0.0

In [117]:
total = df_public.isnull().sum().sort_values(ascending=False)
percent = (df_public.isnull().sum()/df_public.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

       Total  Percent
6평_가격      0      0.0
공시가격       0      0.0
전용면적       0      0.0
주택구분명      0      0.0
지번         0      0.0
법정동명       0      0.0

In [118]:
df_individual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056 entries, 0 to 4055
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   법정동명     4056 non-null   object
 1   지번       4056 non-null   object
 2   주택구분명    4056 non-null   object
 3   건물산정연면적  4056 non-null   float64
 4   주택가격     4056 non-null   int64
 5   6평_가격    4056 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 190.2+ KB

In [119]:
# df_individual.to_csv('df_individual.csv', index=False, encoding='cp949')

In [120]:
df_public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동명    369 non-null    object
 1   지번      369 non-null    object
 2   주택구분명   369 non-null    object
 3   전용면적    369 non-null    float64
 4   공시가격    369 non-null    float64
 5   6평_가격   369 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [121]:
df_individual.head()

              법정동명      지번  주택구분명  건물산정연면적       주택가격        6평_가격
0  서울특별시 성북구 동선동1가   119-4  단독다가구    42.95  302000000  140628638.0
1  서울특별시 성북구 동선동1가   119-5  단독다가구    52.89  379000000  143316317.0
2  서울특별시 성북구 동선동1가   119-9  단독다가구   105.39  169000000   32071354.0
3  서울특별시 성북구 동선동1가  121-21  단독다가구   323.41  530000000   32775734.0
4  서울특별시 성북구 동선동1가   122-4  단독다가구   211.36  448000000   42392127.0

In [122]:
df_public.head()

              법정동명      지번 주택구분명       전용면적          공시가격       6평_가격
0  서울특별시 성북구 동선동1가  121-18   다세대  13.224000  6.069000e+07  91787659.0
1  서울특별시 성북구 동선동1가   121-5   다세대  12.898889  5.904444e+07  91549660.0
2  서울특별시 성북구 동선동1가   122-1   다세대  14.780000  6.835000e+07  92489851.0
3  서울특별시 성북구 동선동1가   122-5   다세대  14.080000  6.470000e+07  91903409.0
4  서울특별시 성북구 동선동1가     2-5    빌라  15.795000  7.347000e+07  93029440.0

# 결합

건물가격정보

In [123]:
# 서로 다른 칼럼이 존재하지만, 일단 합쳐서 preprocess 단계에서 제거할 계획
ind_not_col_list = []
pub_not_col_list = []

for each in df_public.columns:
    if each not in df_individual.columns:
        ind_not_col_list.append(each)
        
for each in df_individual.columns:
    if each not in df_public.columns:
        pub_not_col_list.append(each)
        

df_individual = df_individual.reindex(columns = df_individual.columns.tolist() + ind_not_col_list)
df_public = df_public.reindex(columns = df_public.columns.tolist() + pub_not_col_list)


#결합
df_concated = pd.concat([df_individual, df_public], axis=0)
df_concated.reset_index(drop=True, inplace=True)

In [124]:
total = df_concated.isnull().sum().sort_values(ascending=False)
percent = (df_concated.isnull().sum()/df_concated.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

         Total  Percent
공시가격      4056  0.91661
전용면적      4056  0.91661
주택가격       369  0.08339
건물산정연면적    369  0.08339
6평_가격        0  0.00000
주택구분명        0  0.00000
지번           0  0.00000
법정동명         0  0.00000

In [125]:
df_concated.head()

,법정동명,지번,주택구분명,건물산정연면적,주택가격,6평_가격,전용면적,공시가격
0,서울특별시 성북구 동선동1가,119-4,단독다가구,42.95,302000000.0,140628638.0,NaN,NaN
1,서울특별시 성북구 동선동1가,119-5,단독다가구,52.89,379000000.0,143316317.0,NaN,NaN
2,서울특별시 성북구 동선동1가,119-9,단독다가구,105.39,169000000.0,32071354.0,NaN,NaN
3,서울특별시 성북구 동선동1가,121-21,단독다가구,323.41,530000000.0,32775734.0,NaN,NaN
4,서울특별시 성북구 동선동1가,122-4,단독다가구,211.36,448000000.0,42392127.0,NaN,NaN

용도별건물정보

In [126]:
df_region_concated = pd.concat([df_jong, df_sung], axis=0)
df_region_concated.reset_index(drop=True, inplace=True)

In [127]:
df_region_concated.head()

            법정동명       지번    세부용도명  지하층수  지상층수      사용승인일자  건물연령
0  서울특별시 종로구 이화동        1     단독주택   1.0   1.0         NaN   NaN
1  서울특별시 종로구 이화동  01월 03일     단독주택   1.0   2.0  1971-05-21  50.0
2  서울특별시 종로구 이화동  02월 01일  교육(연수)원   1.0   2.0  1985-12-02  36.0
3  서울특별시 종로구 이화동  02월 03일     단독주택   0.0   1.0         NaN   NaN
4  서울특별시 종로구 이화동  03월 03일     단독주택   0.0   2.0  1964-12-30  57.0

In [128]:
total = df_region_concated.isnull().sum().sort_values(ascending=False)
percent = (df_region_concated.isnull().sum()/df_region_concated.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

        Total   Percent
건물연령      982  0.171889
사용승인일자    982  0.171889
세부용도명       3  0.000525
지상층수        1  0.000175
지하층수        1  0.000175
지번          0  0.000000
법정동명        0  0.000000

# Merge 용도별(연령, 층) and 가격

용도별에 더 많은 건물이 있기 때문에, 용도별 데이터를 기준으로 merge

In [129]:
df_concated_all = df_region_concated.merge(df_concated, how='left', on=['법정동명', '지번'])

In [130]:
df_concated_all.head()

,법정동명,지번,세부용도명,지하층수,지상층수,사용승인일자,건물연령,주택구분명,건물산정연면적,주택가격,6평_가격,전용면적,공시가격
0,서울특별시 종로구 이화동,1,단독주택,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울특별시 종로구 이화동,01월 03일,단독주택,1.0,2.0,1971-05-21,50.0,NaN,NaN,NaN,NaN,NaN,NaN
2,서울특별시 종로구 이화동,02월 01일,교육(연수)원,1.0,2.0,1985-12-02,36.0,NaN,NaN,NaN,NaN,NaN,NaN
3,서울특별시 종로구 이화동,02월 03일,단독주택,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울특별시 종로구 이화동,03월 03일,단독주택,0.0,2.0,1964-12-30,57.0,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
df_concated_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5717 entries, 0 to 5716
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   법정동명     5717 non-null   object
 1   지번       5717 non-null   object
 2   세부용도명    5714 non-null   object
 3   지하층수     5716 non-null   float64
 4   지상층수     5716 non-null   float64
 5   사용승인일자   4735 non-null   object
 6   건물연령     4735 non-null   float64
 7   주택구분명    3475 non-null   object
 8   건물산정연면적  3227 non-null   float64
 9   주택가격     3227 non-null   float64
 10  6평_가격    3475 non-null   float64
 11  전용면적     248 non-null    float64
 12  공시가격     248 non-null    float64
dtypes: float64(8), object(5)
memory usage: 625.3+ KB

# To_csv

예측용 target data

In [146]:
# df_concated_all.dropna(subset=['6평_가격'],axis=0)
df_target = df_concated_all.dropna(subset=['6평_가격'],axis=0)
df_target.reset_index(drop=True, inplace=True)
df_target.head()

,법정동명,지번,세부용도명,지하층수,지상층수,사용승인일자,건물연령,주택구분명,건물산정연면적,주택가격,6평_가격,전용면적,공시가격
0,서울특별시 종로구 이화동,8,단독주택,0.0,1.0,NaN,NaN,단독다가구,33.12,110000000.0,66425121.0,NaN,NaN
1,서울특별시 종로구 이화동,9-31,다가구주택,1.0,3.0,1993-10-29,28.0,단독다가구,175.58,247000000.0,28135323.0,NaN,NaN
2,서울특별시 종로구 이화동,9-32,단독주택,1.0,2.0,1980-06-23,41.0,단독다가구,95.86,192000000.0,40058419.0,NaN,NaN
3,서울특별시 종로구 이화동,9-34,다가구주택,1.0,3.0,1994-03-28,27.0,단독다가구,273.34,352000000.0,25755469.0,NaN,NaN
4,서울특별시 종로구 이화동,9-35,독서실,1.0,3.0,1995-11-03,26.0,단독다가구,74.49,102000000.0,27386226.0,NaN,NaN

In [147]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475 entries, 0 to 3474
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   법정동명     3475 non-null   object
 1   지번       3475 non-null   object
 2   세부용도명    3475 non-null   object
 3   지하층수     3474 non-null   float64
 4   지상층수     3474 non-null   float64
 5   사용승인일자   2896 non-null   object
 6   건물연령     2896 non-null   float64
 7   주택구분명    3475 non-null   object
 8   건물산정연면적  3227 non-null   float64
 9   주택가격     3227 non-null   float64
 10  6평_가격    3475 non-null   float64
 11  전용면적     248 non-null    float64
 12  공시가격     248 non-null    float64
dtypes: float64(8), object(5)
memory usage: 353.1+ KB

In [148]:
df_target.to_csv('df_target_v3.csv', index=False, encoding='cp949')

서버용 data(임시)

In [143]:
server_list = ['법정동명', '지번', '세부용도명', '지하층수', '지상층수', '건물연령', '6평_가격']
df_server = df_concated_all.loc[:, server_list]

In [144]:
df_server = df_target.rename(columns={"6평_가격": "6평_가격(6평_월세로 바뀔 예정)"})
df_server.head()

            법정동명       지번    세부용도명  지하층수  지상층수  건물연령  6평_가격(6평_월세로 바뀔 예정)
0  서울특별시 종로구 이화동        1     단독주택   1.0   1.0   NaN                  NaN
1  서울특별시 종로구 이화동  01월 03일     단독주택   1.0   2.0  50.0                  NaN
2  서울특별시 종로구 이화동  02월 01일  교육(연수)원   1.0   2.0  36.0                  NaN
3  서울특별시 종로구 이화동  02월 03일     단독주택   0.0   1.0   NaN                  NaN
4  서울특별시 종로구 이화동  03월 03일     단독주택   0.0   2.0  57.0                  NaN

In [145]:
df_server.to_csv('df_server_v2.csv', index=False, encoding='cp949')